
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

h1 {
    color:rgb(255, 255, 255);
    background-color: pink;
}
p {
    color: white;
    font-size: 20px;
}
section{
    text-align:center;
    font-family: Lato;
    padding-block-end: 2%;
    font-weight: bolder;
    font-size: 25px;
}
p2{
    color:white;
    font-size: 25px;
    font-weight: bold;
}
h1{
    font-size: 30px;
    width: 100%;
}
img {
    width: 30%;
    display: block;
    margin: 0 auto;
}
footer{ 
    color: black;
    font-size: 10px;
}
p2{
  text-align: center;
}
body{
    background-color: pink;
    text-align: center;
}